<div *ngIf="step == 1" class="center">
  <h1>🎉 Hey Birthday Star!</h1>
  <button (click)="next()">Click Me</button>
</div>

<div *ngIf="step == 2" class="center">

  <ng-container *ngIf="!showAwesome; else awesomeContent">

    <h2>Checking if you're awesome...😎</h2>

    <h1 class="countdown">{{ countdown }}</h1>

  </ng-container>

  <ng-template #awesomeContent>

    <img src="awesome.gif" />

    <h2>You are 100% Awesome! 😍</h2>

    <button (click)="next()">Continue</button>

  </ng-template>

</div>


<div *ngIf="step == 3" class="center">

  <ng-container *ngIf="!noBtnClicked; else sadScreen">

    <h1>Do You Love Me? ❤️</h1>

    <div class="btns">
      <button class="yesBtn" (click)="next()">
        YES 😍
      </button>

      <button class="noBtn" (click)="showSadScreen()">
        NO 😒
      </button>
    </div>

  </ng-container>

  <ng-template #sadScreen>

    <video width="350" autoplay muted playsinline>
      <source src="sad1.mp4" type="video/mp4">
    </video>

    <h2>😢 You broke my heart!</h2>

    <button (click)="restartJourney()">
      🔄 Try Again
    </button>

  </ng-template>

</div>


<div *ngIf="step == 4" class="center">
  <img [src]="memes[memeIndex]" />

  <button (click)="nextMeme()">Next 😂</button>
</div>

<div *ngIf="step == 5" class="center">
  <img src="ready.gif" />
  <h1>Ready??</h1>

  <button (click)="finish()">Reveal Birthday Wish</button>
</div>

<div *ngIf="step == 6" class="center">
  <h1>🎂 HAPPY BIRTHDAY MADAM JI🎂</h1>

  <img src="happybdance.gif" />

  <h2>May all your dreams come true! ❤️</h2>

  <audio controls autoplay>
    <source src="bdaysong.mp3" />
  </audio>
</div>