body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.center {
    margin: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    transition: 0.25s;
}

button:hover {
    transform: scale(1.05);
}

img {
    width: 320px;
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    animation: pop 1s infinite;
}

@keyframes pop {
    50% {
        transform: scale(1.08);
    }
}

/* Love buttons area */

.btns {
    position: relative;
    width: 700px;
    height: 300px;
    border-radius: 20px;
}

.yesBtn {
    position: absolute;
    left: 180px;
    top: 120px;

    background: #4caf50;
    color: white;
}

.noBtn {
    position: absolute;

    left: 420px;
    top: 120px;

    background: #ff4d4d;
    color: white;
}




@media (max-width:768px) {

    .btns {
        width: 320px;
        height: 220px;
    }

    .yesBtn {
        left: 40px;
        top: 90px;
    }

    .noBtn {
        left: 180px;
        top: 90px;
    }

    button {
        font-size: 18px;
        padding: 10px 20px;
    }

    h1 {
        font-size: 34px;
        text-align: center;
    }

}


.countdown {
    font-size: 100px;
    color: #ff4081;
    margin: 20px 0;
    animation: zoom 1s infinite;
}

@keyframes zoom {

    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }

}